<!DOCTYPE html>
<html>
<!-- This unnecessary HTML comment should probably be removed! -->
    <head class="head">
        <meta charset="UTF-8">
        <title>Express minify HTML handlebars example</title>
    </head>
    <body id="body">
     Hello {{hello}}!
    </body>
    <script type="text/javascript">
        function reallyNiceFunction   () {


          return "Hello!";


        };
    </script>
</html>